<div class="box">
  <div>
    <h3><%= job.title %></h3>
    <span class="job-company"><%= job.company %></span>
    <p><%= job.description %></p>
  </div>
  <span class="job-dates">
    <%= job.start_date.strftime("%b %Y") %> – <%= job_end_date(job.end_date) %>
  </span>
</div>
