<section class="section is-medium container is-max-desktop">
  <h2 class="title is-2"><%= t("contact.subtitle") %></h2>
  <h1 class="title is-1"><%= t("contact.title") %></h1>
  <p>
    <%= t("contact.intro") %>
  </p>

  <div class="columns is-variable is-6">

    <div class="column">
      <%= form_with url: "#", method: :post do |f| %>
        <div class="field">
          <%= f.label :name, t("contact.form.name"), class: "label" %>
          <div class="control">
            <%= f.text_field :name, class: "input", placeholder: t("contact.form.name_placeholder") %>
          </div>
        </div>

        <div class="field">
          <%= f.label :email, t("contact.form.email"), class: "label" %>
          <div class="control">
            <%= f.email_field :email, class: "input", placeholder: "your@email.com" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :message, t("contact.form.message"), class: "label" %>
          <div class="control">
            <%= f.text_area :message, class: "textarea", placeholder: t("contact.form.message_placeholder"), rows: 6 %>
          </div>
        </div>

        <div class="field">
          <div class="control">
            <%= f.submit t("contact.form.submit"), class: "button is-primary" %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="column is-narrow">
      <div>
        <span class="icon" title="GitHub"><i class="fa-brands fa-github"></i></span>
        <span class="icon" title="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></span>
        <span class="icon" title="Discord"><i class="fa-brands fa-discord"></i></span>
        <span class="icon" title="Slack"><i class="fa-brands fa-slack"></i></span>
        <span class="icon" title="Email"><i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>

  </div>
</section>
