<%# ============================================================ %>
<%# HERO %>
<%# ============================================================ %>
<section class="home-hero">
  <div class="hero-inner">
    <div class="hero-left">
      <div class="hero-badge"><%= t 'pages.home.hello' %></div>

      <h1 class="title is-1 hero-name"><%= t 'pages.home.title' %></h1>
      <h1 class="subtitle"><%= t 'pages.home.subtitle' %></h1>

      <p class="hero-bio">
        <%= t 'pages.home.intro' %>
      </p>

      <div class="hero-ctas">
        <%= link_to projects_path, class: "button is-primary" do %>
          VIEW WORK <i class="fa-solid fa-arrow-right"></i>
        <% end %>
        <%= link_to new_cv_download_path, class: "button is-outlined" do %>
          DOWNLOAD CV
        <% end %>
      </div>

      <div class="hero-status">
        <span class="status-dot"></span>
        <span class="status-label">OPEN FOR COLLABS &middot; AMSTERDAM, NL</span>
      </div>
    </div>

    <div class="hero-right">
      <figure class="image is-384x384 hero-avatar">
        <img class="is-rounded" src="https://placehold.co/384x384/000000/333333" alt="Menno Godeke">
      </figure>
    </div>

  </div>
</section>


