<section class="section">
  <div class="container is-max-tablet">
    <h1 class="title is-1"><%= @project.name %></h1>
    <% if @project.year.present? %>
      <span class="tag is-light"><%= @project.year %></span>
    <% end %>

    <% if @project.description.present? %>
      <p class="content"><%= @project.description %></p>
    <% end %>

    <% if @project.skills.any? %>
      <div class="tags">
        <% @project.skills.each do |skill| %>
          <span class="tag"><%= skill.name %></span>
        <% end %>
      </div>
    <% end %>

    <div class="buttons">
      <% if safe_url(@project.url) %>
        <%= link_to "View live", safe_url(@project.url), class: "button", target: "_blank", rel: "noopener" %>
      <% end %>
      <% if safe_url(@project.repo_url) %>
        <%= link_to "View repo", safe_url(@project.repo_url), class: "button", target: "_blank", rel: "noopener" %>
      <% end %>
    </div>

    <%= link_to "← Back to projects", projects_path %>
  </div>
</section>
