<nav class="navbar" role="navigation" aria-label="main navigation"
     data-controller="navbar">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item navbar-brand" do %>
      MENNO.CODES
    <% end %>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
       data-navbar-target="burger"
       data-action="click->navbar#toggle">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <%= link_to t("nav.home"),       root_path,       class: "navbar-item #{'is-active' if current_page?(root_path)}" %>
      <%= link_to t("nav.career"),     jobs_path,       class: "navbar-item #{'is-active' if current_page?(jobs_path)}" %>
      <%= link_to t("nav.experience"), experience_path, class: "navbar-item #{'is-active' if current_page?(experience_path)}" %>
      <%= link_to t("nav.projects"),   projects_path,   class: "navbar-item #{'is-active' if current_page?(projects_path)}" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <%= link_to contact_path, class: "button is-primary is-outlined #{'is-active' if current_page?(contact_path)}" do %>
          <%= t("nav.get_in_touch").upcase %>
        <% end %>
      </div>
      <span class="navbar-item has-text-grey">|</span>
      <div class="navbar-item">
        <%= link_to new_cv_download_path do %>
          <%= t("nav.get_my_cv").upcase %> <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      </div>
      <span class="navbar-item has-text-grey">|</span>
      <%= render "layouts/locale_switcher" %>
    </div>
  </div>
</nav>
